<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='damaStyle.css') }}">
    <title>Tablero Damas</title>
</head>
<body>
    <h1>Tablero Damas</h1>

    <Table>
    {% for i in range (cantidadL):%}
        <tr>
            {% for j in range (cantidad): %}
            <td class="espacio1"></td>
            <td class="espacio2"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range (cantidad): %}
            <td class="espacio2"></td>
            <td class="espacio1"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </Table>
</body>
</html>